.hero {
  background: url("../../../img/hero-bg.svg") no-repeat center;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 250px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__info {
  margin-top: 114px;
}

.hero__info-subtitle {
  color: #E31A4D;
  font-size: 29px;
  font-weight: 700;
  line-height: 31.9px;
  text-align: right;
}

.hero__info-title {
  color: #E31A4D;
  font-size: 126px;
  font-weight: 700;
  line-height: 126px;
  text-transform: uppercase;
}

.hero__info-descr {
  color: #E31A4D;
  font-family: "Rubik Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  border: 1px solid #E31A4D;
  border-radius: 23px;
  max-width: 256px;
  width: 100%;
  margin-top: 41px;
  padding: 26px 22px;
}

.hero__info-img {
  position: absolute;
  right: 0;
}

.today {
  margin-top: 132px;
}

.today__title {
  margin-bottom: 55px;
}

.today__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.today__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.today__list-item:not(:last-child) {
  margin-right: 20px;
}

.today__list-item:nth-child(even) {
  margin-top: 50px;
}

.today__list-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 13px;
}

.quality {
  background: url("/img/quality-bg.png") no-repeat center;
  background-size: cover;
  padding: 191px 0 295px;
  background-position: 0 -5px;
}

.quality__title {
  margin-bottom: 23px;
}

.quality__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -75px;
}

.quality__content-item:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 558px;
  flex: 0 1 558px;
}

.quality__content-item:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 230px;
  flex: 0 1 230px;
  margin-top: 80px;
}

.quality__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.quality__text:not(.quality__text_bold) {
  margin-bottom: 22px;
}

.quality__text_bold {
  font-family: "Intro Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  margin-top: 31px;
  max-width: 390px;
  width: 100%;
  margin-bottom: 31px;
}

.quality__subtitle {
  font-family: "Intro Bold";
  font-size: 45px;
  font-weight: 700;
  line-height: 49px;
  color: #E31A4D;
}

.quality__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  margin-top: 10px;
}

.quality__descr:not(:last-child) {
  margin-bottom: 15px;
}

.awards {
  margin-top: -112px;
}

.awards__descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  max-width: 550px;
  width: 100%;
  margin: 24px 0 77px;
}

.awards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awards__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 190px;
  flex: 0 1 190px;
}

.awards__list-item:not(:last-child) {
  margin-right: 31px;
}

.awards__list-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 58px;
}

.awards__list-text span {
  font-size: 16px;
  line-height: 18px;
}

.brands {
  margin-top: 63px;
}

.brands__title {
  text-transform: uppercase;
  font-family: "Intro Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 230px;
  width: 100%;
  margin-bottom: 11px;
}

.brands__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brands__list-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 420px;
  flex: 0 1 420px;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  padding: 27px 30px;
  min-height: 350px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  position: relative;
}

.brands__list-item:hover {
  scale: 1.05;
}

.brands__list-item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.brands__list-item_main {
  background: url("/img/brands-bg-1.png") no-repeat center;
  background-size: cover;
  padding: 25px 21px;
}

.brands__list-item_main .brands__title {
  font-size: 60px;
  line-height: 66px;
  margin-bottom: 13px;
}

.brands__list-item_plombir {
  background: url("/img/brands-bg-2.png") no-repeat center;
  background-size: cover;
}

.brands__list-item_filevskoe {
  background: url("/img/brands-bg-3.png") no-repeat center;
  background-size: cover;
}

.brands__list-item_filevskoe .brands__title {
  color: #E31A4D;
}

.brands__list-item_filevskoe .brands__descr {
  color: #E31A4D;
}

.brands__list-item_jemchujuna {
  background: url("/img/brands-bg-4.png") no-repeat center;
  background-size: cover;
}

.brands__list-item_ded-moroz {
  background: url("/img/brands-bg-5.png") no-repeat center;
  background-size: cover;
}

.brands__list-item_vkuslandia {
  background: url("/img/brands-bg-6.png") no-repeat center;
  background-size: cover;
}

.brands__list-item_vkuslandia .brands__title {
  color: #5C3013;
}

.brands__list-item_vkuslandia .brands__descr {
  color: #5C3013;
}

.buy {
  margin: 25px 0 51px;
}

.buy__descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  max-width: 626px;
  width: 100%;
  margin: 23px 0 22px;
}

.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy__list-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 310px;
  flex: 0 1 310px;
  border: 1px solid #E31A4D;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 310px;
}

.buy__list-item:not(:last-child) {
  margin-right: 20px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .quality {
    background: url("/img/quality-bg@2x.png") no-repeat center;
    background-size: cover;
    background-position: 0 -5px;
  }

  .brands__list-item_main {
    background: url("/img/brands-bg-1@2x.png") no-repeat center;
    background-size: cover;
  }

  .brands__list-item_plombir {
    background: url("/img/brands-bg-2@2x.png") no-repeat center;
    background-size: cover;
  }

  .brands__list-item_filevskoe {
    background: url("/img/brands-bg-3@2x.png") no-repeat center;
    background-size: cover;
  }

  .brands__list-item_jemchujuna {
    background: url("/img/brands-bg-4@2x.png") no-repeat center;
    background-size: cover;
  }

  .brands__list-item_ded-moroz {
    background: url("/img/brands-bg-5@2x.png") no-repeat center;
    background-size: cover;
  }

  .brands__list-item_vkuslandia {
    background: url("/img/brands-bg-6@2x.png") no-repeat center;
    background-size: cover;
  }
}
/*# sourceMappingURL=../maps/pages/index.css.map */
